
.sl_slide .zag_slide {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 42px;
  color: #FFFFFF;
  display: inline-block;
  margin: 0 20px;
}
.sl_slide .zag_slide .pidz_slide {
  font-size: 34px;
}
.sl_slide .zag_slide .text_slide {
  font-size: 14px;
}
.button_ {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  color: #ffffff;
  font-size: 14px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}
.button_buy_now {
  background: #363636;
  border-color: transparent;
  transition: .8s;
}
.button_screen {
  background: transparent;
  border: 2px solid #FFFFFF;
  transition: .8s;
}
.button_buy_now:hover {
  background: transparent;
  border: 2px solid #FFFFFF;
  text-decoration: none;
  transition: .8s;
}
.button_screen:hover {
  background: #363636;
  border: 2px solid transparent;
  text-decoration: none;
  transition: .8s;
}
.sl {
  max-width: 1285px;
  margin: 60px auto;
}
.sl_slide:focus {
  outline: none;
}
.sl_img {
  display: block;
  margin: 0 auto;
}
/************************************************************************/
.speech_bubble {
  position: relative;
  display: table;
  width: 100%;
  background-color: #363636;
  padding: 0;
  margin: 0;
  color: #959595;
  text-align: center;
  font-family: sans-serif;
}
.speech_bubble:after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border: 15px solid;
  display: table-cell;
}
.speech_bubble_botom:after {
  border-bottom-color: #ffffff;
  color: #363636;
  left: 50%;
  bottom: 0;
  margin-left: -15px;
}
.speech_text {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #707070;
  padding: 40px 0;
}
.speech_zag {
  font-weight: 800;
  font-size: 24px;
  color: #959595;
}
.slider_col {
  font-family: "Roboto", sans-serif;
  background: #FAFAFA;
}
.content_slide {
  background: #FFFFFF;
  margin-top: 110px;
  position: relative;
  margin-bottom: 70px;
}
.clean_slide,
.par_slide:after,
.zag_slide,
.text_slide {
  transition: 1s;
}
.content_slide:hover .clean_slide,
.content_slide:hover .par_slide:after {
  background-color: #E5493A;
}
.content_slide:hover .zag_slide {
  color: #E5493A;
}
.content_slide:hover .par_slide {
  color: #363636;
}
.text_slide {
  position: relative;
  height: 242px;
}
.clean_slide {
  width: 70px;
  height: 70px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: -155px;
  margin-left: -35px;
  border-radius: 50%;
  background: #353535;
}
.clean_slide i {
  font-size: 28px;
  color: #FFFFFF;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -14px;
  margin-top: -14px;
}
.zag_slide {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 22px;
  padding-top: 60px;
  margin: 0;
  text-align: center;
  color: #363636;
}
.par_slide {
  padding: 15px;
  text-align: center;
  font-weight: 400;
  font-size: 14px;
  color: #959595;
  position: relative;
}
.par_slide:after {
  background: #363636;
  content: '';
  height: 2px;
  width: 70px;
  display: block;
  margin: 30px  auto;
}
