@red: #E5493A;
@white: #FFFFFF;
@bg_gr: #363636;
@Raleway: "Raleway", sans-serif;
@fz12: 12px;
@ib: inline-block;
@transition: .6s;


* {
  box-sizing: border-box;
}
html, body {
  margin: 0;
  height: 100%;
  font-family: sans-serif;
}
.fa {
  font-size: 16px;
}

.top-bar {
  background-color: @bg_gr;
  min-height: 44px;
  padding-top: 7px;
  padding-bottom: 0;
}
.top-bar .nav-text {
  color: #00BCD4;
  display: block;
  margin-top: 7px;
}
.top-bar .social{
  color: @white;
  display: @ib;
  padding: 7px;
  text-decoration: none;
}

.top-bar .tools {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.menu_left {
  text-align: left;
}
.menu-right {
  text-align: right;
}

.top-bar .tools li
{list-style-type: none;display:@ib;}

.social_right {
  padding-left: 50px;
}

.social_right a {
  padding-left: 3px;
  text-decoration: none;
}

.top-bar .tools li .language_left,
.top-bar .tools li .register {
  padding-left: 0;
}

.top-bar .tools li a {
  display: block;
  text-decoration: none;
  color: #898989;
  padding-left: 50px;
  padding-top: 5px;
  transition: @transition;
}

.top-bar .tools li a:hover,
.top-bar .tools li a:link,
.top-bar .tools li a:active {
  color: #8DC63F;
}

.tools .wishlist_item a:hover,
.tools .wishlist_item a:link,
.tools .wishlist_item a:active {
  .fa {
    color: @red
  }
}

.top-bar .tools i {
  color: #555555;
}

.social_right .fa {
  transition: @transition;
}

.social_right .fa:hover,
.social_right .fa:link,
.social_right .fa:active {
  color: @red
}

.dropdown_item {
  display: @ib;
  margin: 0;
  padding: 25px;
  padding-right: 15px;
  background: #F5F5F5;
  .dropdown_img {
    width: 70px;
    height: 70px;
    border-radius: 5px;
  }
  .dropdown_text {
    font-size: 14px;
    vertical-align: top;
    color: #555555;
    padding-left: 25px;
    width: 210px;
    transition: @transition;
  }
  .dropdown_price {
    font-family: @Raleway;
    font-weight: 700;
    font-size: 16px;
  }
  i {
    transition: @transition;
    padding-top: 25px;
  }
  .dropdown_instock {
    font-size: 10px;
    font-weight: bold;
    width: 55px;
    background: #8DC63F;
    border-radius: 3px;
    text-transform: uppercase;
    text-align: center;
    color: @white;
  }
  &:hover {
    .dropdown_text{
      color: @red
    }
    .dropdown_price {
      color: #555555;
    }
    i {
      color: @red
    }
  }
}

.drop_button {
  background-color: #ECECEC;
  padding: 20px;
}

.drop_btn {
  font-family: @Raleway;
  font-weight: 800;
  font-size: @fz12;
  width: 135px;
  height: 40px;
  color: @white;
  text-transform: uppercase;
  border: none;
  border-radius: 5px;
}

.btn_wishlist {
  background: @red;
  transition: @transition;
  &:hover {
    background: #8DC63F;
  }
}

.btn_clear {
  background: #DBDBDB;
  margin-left: 19px;
  transition: @transition;
  &:hover {
    background: #464646;
  }
}

.top-bar .tools .dropdown_item {
  display: inline-flex;
}

.navbar-brand {
  float: left;
  height: 110px;
  padding: 30px 15px;
  font-size: 18px;
  line-height: 110px;
  position: absolute;
  z-index: 11;
  margin: 0 auto;
}


.navbar-inverse {
  background-color: @white;
  border-color: #080808;
}

.navbar {
  position: relative;
  min-height: 110px;
  margin-bottom: 0;
  border: 0;
  border-radius:0;
  border-bottom: 3px solid transparent;
  border-image: linear-gradient(to right, #E5493A 50%, rgba(128, 128, 128, 0.3) 50%);
  border-image-slice: 1;
}

.navbar-inverse .navbar-nav > li > a {
  color: #555555;
  transition: @transition;
}

.navbar-inverse .navbar-nav>.open>a {
  transition: @transition;
}

.navbar-inverse .navbar-nav>.open>a,
.navbar-inverse .navbar-nav>.open>a:hover,
.navbar-inverse .navbar-nav>.open>a:active {
  background-color: transparent;
  color: @red
}

.cart-heart .fa {
  transition: @transition;
}

.cart-heart .fa:hover,
.cart-heart .fa:link {
  color: @red;
  transform: scale(1.2,1.2);
}
.navbar-inverse .navbar-toggle {
  background: @bg_gr;
}
.navbar-inverse .navbar-toggle:hover {
  background: @red
}

.navbar-inverse .navbar-nav > li > a {
  transition: @transition;
}

.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:link {
  color: @red
}

.navbar-inverse .navbar-nav > li > a:hover:first-letter {
  border-top: @red 2px solid;
  padding-top: 9px;
}

.nav > li > a {
  font-family: @Raleway;
  font-weight: 800;
  font-size: 14px;
  text-transform: uppercase;
  position: relative;
  display: block;
  padding: 45px 18px;
}

li .box_menu a {
  transition: @transition;
}

li .box_menu a:hover {
  background: @red
}

.home_menu {
  padding-left: 160px;
}

.cart-heart a {
  display: @ib;
  color: @bg_gr;
  height: 110px;
  line-height: 110px;
  padding: 0 5px;
}
.navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a:hover {
  color: @red
}
/*CROUSELE START///////////////////////////*/

.carousel-caption {
  position: absolute;
  right: 20%;
  bottom: 35px;
  width: 60%;
  left: 20%;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;
  text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
}

@media screen and (min-width:768px) {
  .carousel-caption h3{font-size: 52px;}
  .carousel-caption p{font-size: 32px;}
  .carousel-caption{padding-bottom:160px;}
}

@media screen and (max-width:1200px) {
  .home_menu {padding-left: 120px;}
  .nav > li > a {
    padding: 45px 15px;
    font-size: @fz12;
  }
}

@media screen and (max-width:1024px) {
  .home_menu {padding-left: 90px;}
  .nav > li > a {
    padding: 45px 8px;
    font-size: @fz12;
  }
  .top-bar .tools li a {
    padding-left: 30px;
  }
  .menu_right {
    text-align: center;
  }
  .menu_left {
    text-align: center;
  }
}
@media screen and (max-width:767px) {
  .home_menu {padding-left: 0;}
  .navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border: none;
  }

  .navbar-inverse .navbar-nav .open .dropdown-menu>li>a {
    color: @red;
    text-align: center;
  }

  .top-bar .tools li a {
    padding-left: 20px;
  }
  .social_right {
    padding-left: 20px;
  }
  .nav > li > a {
    padding: 5px 10px;
    text-align: center;
  }
}

.carousel-inner>.item>a>img, .carousel-inner>.item>img {
  margin: 0 auto;
}

.carousel-caption {
  font-family: @Raleway;
  font-weight: 800;
  font-size: 42px;
  text-align: center;
  color: @white;
}

.carousel-caption span {
  font-family: @Raleway;
  font-weight: 800;
  font-size: 32px;
}

.carousel-caption .caurosel_tetx {
  font-size: 16px;
}

.button_ {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  color: @white;
  font-size: 14px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.button_buy_now {
  background: @bg_gr;
  border-color: transparent;
  transition: @transition;
}

.button_screen {
  background: transparent;
  border: 2px solid @white;
  transition: @transition;
}

.button_buy_now:hover {
  background: transparent;
  border: 2px solid @white;
  text-decoration: none;
  transition: @transition;
}

.button_screen:hover {
  background: @bg_gr;
  border: 2px solid transparent;
  text-decoration: none;
  transition: @transition;
}

@media screen and (min-width: 768px) {
  .carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right,
  .carousel-control .icon-next, .carousel-control .icon-prev {
    width: 40px;
    height: 40px;
    margin-top: -10px;
    font-size: 25px;
    background: @red;
    border-radius: 3px;
    padding-top: 7px;
    transition: @transition;
    opacity: .5;
  }
}

.carousel-control.left,
.carousel-control.right {
  background-image: none;
}

.carousel-control:focus, .carousel-control:hover {
  .glyphicon-chevron-left,
  .glyphicon-chevron-right {
    background: @bg_gr;
  }
}
