<div class="about_creative__digital">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 text-center col-sm-push-3">
                <div class="about_creative__option">
                    <h4 class="about_creative__zag">Creative Digital Agency</h4>
                    <p class="about_creative__text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
                        sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <img src="/img/Creative_digital.png" alt="Creative digital" class="about_creative__img">
            </div>
            <div class="col-sm-6">
                <div class="about_content__description">
                    <p class="nam__liber">
                        Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod
                        mazim placerat facer possim assum. Claritas est etiam processus dynamicus, qui sequitur.
                    </p>
                    <p class="nam__liber_desc">
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod
                        tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam,
                        quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo
                        consequat. Duis autem vel <span>eum iriure dolor in hendrerit</span>in vulputate velit esse molestie
                        consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto
                        odio dignissim qui blandit praesent luptatum zzril delenit augue.
                        <br>
                        Mirum est notare quam littera gothica, quam nunc putamus parum claram, anteposuerit
                        litterarum formas humanitatis per seacula quarta decima et quinta decima.
                    </p>
                    <button class="about_creative__button">Meet Our Team</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="about_creative__column">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-6">
                <h4 class="about_creative__title">Why Choose Us</h4>
                <p>
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod.
                    Claritas est etiam processus dynamicus, qui sequitur mutationem.
                </p>
                <ul class="about_why_list">
                    <li><i class="fa fa-check" aria-hidden="true"></i>
                        Dolor sit amet, consectetuer adipiscing elit.</li>
                    <li><i class="fa fa-check" aria-hidden="true"></i>
                        Claritas etiam processus dynamicus.</li>
                    <li><i class="fa fa-check" aria-hidden="true"></i>
                        Mirum notare quam littera gothica quam.</li>
                    <li><i class="fa fa-check" aria-hidden="true"></i>
                        Eodem modo typi.</li>
                    <li><i class="fa fa-check" aria-hidden="true"></i>
                        Nam liber tempor cum soluta.</li>
                </ul>
            </div>
            <div class="col-md-4 col-sm-6">

                <h4 class="about_creative__title">Our Services</h4>
                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingOne">
                            <h4 class="panel-title">
                                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    <i class="more-less glyphicon glyphicon-chevron-right"></i>
                                    <span class="header_accordeon">Our Solution</span>
                                </a>
                            </h4>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                            <div class="panel-body">
                                Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum.
                                Eodem modo typi, qui nunc nobis videntur parum clari, fiant sollemnes in futurum.
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingTwo">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    <i class="more-less glyphicon glyphicon-chevron-right"></i>
                                    <span class="header_accordeon">Our Technology</span>
                                </a>
                            </h4>
                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                            <div class="panel-body">
                                Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum.
                                Eodem modo typi, qui nunc nobis videntur parum clari, fiant sollemnes in futurum.
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingThree">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    <i class="more-less glyphicon glyphicon-chevron-right"></i>
                                    <span class="header_accordeon">Our Mission</span>
                                </a>
                            </h4>
                        </div>
                        <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                            <div class="panel-body">
                                Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum.
                                Eodem modo typi, qui nunc nobis videntur parum clari, fiant sollemnes in futurum.
                            </div>
                        </div>
                    </div>
                </div>
                <!-- panel-group -->
            </div>
            <div class="col-md-4 col-sm-6">
                <h4 class="about_creative__title">Our Capabilities</h4>
                <h5 class="myProgress_h5">Photoshop</h5>
                <div class="myProgress">
                    <div class="myProgress_myBar">
                        <div class="myProgress_label">
                            95%
                        </div>
                    </div>
                </div>
                <h5 class="myProgress_h5">WordPress</h5>
                <div class="myProgress">
                    <div class="myProgress_myBar">
                        <div class="myProgress_label">
                            95%
                        </div>
                    </div>
                </div>
                <h5 class="myProgress_h5">eCommerce</h5>
                <div class="myProgress">
                    <div class="myProgress_myBar">
                        <div class="myProgress_label">
                            95%
                        </div>
                    </div>
                </div>
                <h5 class="myProgress_h5">Photography</h5>
                <div class="myProgress">
                    <div class="myProgress_myBar">
                        <div class="myProgress_label">
                            95%
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>

<div class="about_creative__digital">
    <div class="row">
        <div class="col-sm-6 text-center col-sm-push-3">
            <div class="about_creative__option">
                <h4 class="about_creative__zag">Meet Our Team</h4>
                <p class="about_creative__text">
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
                    sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                </p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="about_gallery_dev">
                <div class="about_photo_dev col-lg-4 col-sm-6">
                    <span class="social_dev">
                            <a href="https://www.facebook.com/">
                                <i class="fa fa-facebook-square" aria-hidden="true"></i>
                            </a>
                            <a href="https://twitter.com/">
                                <i class="fa fa-twitter-square" aria-hidden="true"></i>
                            </a>
                            <a href="https://www.tumblr.com/">
                                <i class="fa fa-tumblr-square" aria-hidden="true"></i>
                            </a>
                            <a href="https://www.linkedin.com/">
                                <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                            </a>
                            <a href="https://vimeo.com/">
                                <i class="fa fa-vimeo-square" aria-hidden="true"></i>
                            </a>
                    </span>
                    <a href="#"><img src="/img/dev_6.png" class="img_dev" alt="img"></a>
                    <div class="name_dev">
                        <h4>Jonathan Doe<br>
                            <span class="descr_dev">
                                Founder of Example.com
                            </span>
                        </h4>
                    </div>
                </div>
                <div class="about_photo_dev col-lg-4 col-sm-6">
                    <span class="social_dev">
                            <a href="https://www.facebook.com/">
                                <i class="fa fa-facebook-square" aria-hidden="true"></i>
                            </a>
                            <a href="https://twitter.com/">
                                <i class="fa fa-twitter-square" aria-hidden="true"></i>
                            </a>
                            <a href="https://www.tumblr.com/">
                                <i class="fa fa-tumblr-square" aria-hidden="true"></i>
                            </a>
                            <a href="https://www.linkedin.com/">
                                <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                            </a>
                            <a href="https://vimeo.com/">
                                <i class="fa fa-vimeo-square" aria-hidden="true"></i>
                            </a>
                    </span>
                    <a href="#"><img src="/img/dev_5.png" class="img_dev" alt="img"></a>
                    <div class="name_dev">
                        <h4>Britney Doe<br>
                            <span class="descr_dev">
                                Designer at Example.com
                            </span>
                        </h4>
                    </div>
                </div>
                <div class="about_photo_dev col-lg-4 col-sm-6">
                    <span class="social_dev">
                            <a href="https://www.facebook.com/">
                                <i class="fa fa-facebook-square" aria-hidden="true"></i>
                            </a>
                            <a href="https://twitter.com/">
                                <i class="fa fa-twitter-square" aria-hidden="true"></i>
                            </a>
                            <a href="https://www.tumblr.com/">
                                <i class="fa fa-tumblr-square" aria-hidden="true"></i>
                            </a>
                            <a href="https://www.linkedin.com/">
                                <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                            </a>
                            <a href="https://vimeo.com/">
                                <i class="fa fa-vimeo-square" aria-hidden="true"></i>
                            </a>
                    </span>
                    <a href="#"><img src="/img/dev_4.png" class="img_dev" alt="img"></a>
                    <div class="name_dev">
                        <h4>Frank Doe<br>
                            <span class="descr_dev">
                                Marketing Manger
                            </span>
                        </h4>
                    </div>
                </div>
                <div class="about_photo_dev col-lg-4 col-sm-6">
                    <span class="social_dev">
                            <a href="https://www.facebook.com/">
                                <i class="fa fa-facebook-square" aria-hidden="true"></i>
                            </a>
                            <a href="https://twitter.com/">
                                <i class="fa fa-twitter-square" aria-hidden="true"></i>
                            </a>
                            <a href="https://www.tumblr.com/">
                                <i class="fa fa-tumblr-square" aria-hidden="true"></i>
                            </a>
                            <a href="https://www.linkedin.com/">
                                <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                            </a>
                            <a href="https://vimeo.com/">
                                <i class="fa fa-vimeo-square" aria-hidden="true"></i>
                            </a>
                    </span>
                    <a href="#"><img src="/img/dev_3.png" class="img_dev" alt="img"></a>
                    <div class="name_dev">
                        <h4>Lisa Doe<br>
                            <span class="descr_dev">
                                Co-Founder of Example.com
                            </span>
                        </h4>
                    </div>
                </div>
                <div class="about_photo_dev col-lg-4 col-sm-6">
                    <span class="social_dev">
                            <a href="https://www.facebook.com/">
                                <i class="fa fa-facebook-square" aria-hidden="true"></i>
                            </a>
                            <a href="https://twitter.com/">
                                <i class="fa fa-twitter-square" aria-hidden="true"></i>
                            </a>
                            <a href="https://www.tumblr.com/">
                                <i class="fa fa-tumblr-square" aria-hidden="true"></i>
                            </a>
                            <a href="https://www.linkedin.com/">
                                <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                            </a>
                            <a href="https://vimeo.com/">
                                <i class="fa fa-vimeo-square" aria-hidden="true"></i>
                            </a>
                    </span>
                    <a href="#"><img src="/img/dev_2.png" class="img_dev" alt="img"></a>
                    <div class="name_dev">
                        <h4>David Doe<br>
                            <span class="descr_dev">
                                Developer at Example.com
                            </span>
                        </h4>
                    </div>
                </div>
                <div class="about_photo_dev col-lg-4 col-sm-6">
                    <span class="social_dev">
                            <a href="https://www.facebook.com/">
                                <i class="fa fa-facebook-square" aria-hidden="true"></i>
                            </a>
                            <a href="https://twitter.com/">
                                <i class="fa fa-twitter-square" aria-hidden="true"></i>
                            </a>
                            <a href="https://www.tumblr.com/">
                                <i class="fa fa-tumblr-square" aria-hidden="true"></i>
                            </a>
                            <a href="https://www.linkedin.com/">
                                <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                            </a>
                            <a href="https://vimeo.com/">
                                <i class="fa fa-vimeo-square" aria-hidden="true"></i>
                            </a>
                    </span>
                    <a href="#"><img src="/img/dev_1.png" class="img_dev" alt="img"></a>
                    <div class="name_dev">
                        <h4>Jessica Doe<br>
                            <span class="descr_dev">
                                Ceo of Example.com
                            </span>
                        </h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="about_creative__digital bg_block__white">
    <div class="row">
        <div class="col-sm-6 text-center col-sm-push-3 about_center_block">
            <div class="about_creative__option">
                <h4 class="about_creative__zag">What People Say About Us</h4>
            </div>
            <p class="about_people__text">
                “Nam liber <span class="nam_liber__color">tempor cum soluta </span>
                nobis eleifend option congue nihil imperdiet <br>doming id quod mazim
                <span class="nam_liber__color nam_liber__strong">placerat facer</span>.”
            </p>
            <div class="col-lg-4 col-lg-push-4">
                    <div class="slider_about_mini">
                        <div class="sl_about_mini">
                            <img src="img/dev_1.png" alt="img Slide 1" class="about_mini">
                            <div class="about_mini__name">Megan Smith<br>
                                <span class="about_mini__company">Company Inc.</span>
                            </div>
                        </div>
                        <div class="sl_about_mini">
                            <img src="img/dev_2.png" alt="img Slide 2" class="about_mini">
                            <div class="about_mini__name">Johns Smith<br>
                                <span class="about_mini__company">Company Inc.</span>
                            </div>
                        </div>
                        <div class="sl_about_mini">
                            <img src="img/dev_3.png" alt="img Slide 3" class="about_mini">
                            <div class="about_mini__name">Britney Smith<br>
                                <span class="about_mini__company">Company Inc.</span>
                            </div>
                        </div>
            </div>
        </div>
    </div>
</div>

<div class="about_creative__digital">
    <div class="row">
        <div class="col-sm-6 text-center col-sm-push-3">
            <div class="about_creative__option">
                <h4 class="about_creative__zag">Our Happy Clients</h4>
                <p class="about_creative__text">
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
                    nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                </p>
            </div>
        </div>
    </div>
    <div class="about_slide">
        <div class="container">
            <div class="sl about_sl">
                <div class="about_sl_slide">
                    <img src="img/slide_footer_1.png" alt="img Slide 1" class="about_sl_img">
                </div>
                <div class="about_sl_slide">
                    <img src="img/slide_footer_2.png" alt="img Slide 2" class="about_sl_img">
                </div>
                <div class="about_sl_slide">
                    <img src="img/slide_footer_3.png" alt="img Slide 3" class="about_sl_img">
                </div>
                <div class="about_sl_slide">
                    <img src="img/slide_footer_4.png" alt="img Slide 4" class="about_sl_img">
                </div>
                <div class="about_sl_slide">
                    <img src="img/slide_footer_5.png" alt="img Slide 5" class="about_sl_img">
                </div>
                <div class="about_sl_slide">
                    <img src="img/slide_footer_2.png" alt="img Slide 6" class="about_sl_img">
                </div>
                <div class="about_sl_slide">
                    <img src="img/slide_footer_4.png" alt="img Slide 7" class="about_sl_img">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="best_solution best_solution__green">
    <div class="container">
        <div class="row">
            <div class="col-sm-10">
                <div class="h3_solution">
                    The Best Solution for Your Business Projects
                </div>
                <div class="text_solution">
                    Qualitative PSD Template With Unlimited Possibilities
                </div>
            </div>
            <div class="col-sm-2">
                <button class="btn_solution">
                    Live Preview
                </button>
            </div>
        </div>
    </div>
</div>
</div>