<div class="about_creative__digital">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 text-center col-sm-push-3">
                <div class="about_creative__option">
                    <h4 class="about_creative__zag">Creative Digital Agency</h4>
                    <p class="about_creative__text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
                        sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <img src="/img/Creative_digital.png" alt="Creative digital" class="about_creative__img">
            </div>
            <div class="col-sm-6">
                <div class="about_content__description">
                    <p class="nam__liber">
                        Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod
                        mazim placerat facer possim assum. Claritas est etiam processus dynamicus, qui sequitur.
                    </p>
                    <p class="nam__liber_desc">
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod
                        tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam,
                        quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo
                        consequat. Duis autem vel <span>eum iriure dolor in hendrerit</span>in vulputate velit esse molestie
                        consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto
                        odio dignissim qui blandit praesent luptatum zzril delenit augue.
                        <br>
                        Mirum est notare quam littera gothica, quam nunc putamus parum claram, anteposuerit
                        litterarum formas humanitatis per seacula quarta decima et quinta decima.
                    </p>
                    <button class="about_creative__button">Meet Our Team</button>
                </div>
            </div>
        </div>
    </div>

</div>












<footer class="about_creative__column">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-6">
                <h4 class="about_creative__title">Why Choose Us</h4>
                <p>
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod.
                    Claritas est etiam processus dynamicus, qui sequitur mutationem.
                </p>
                Dolor sit amet, consectetuer adipiscing elit.

                Claritas etiam processus dynamicus.

                Mirum notare quam littera gothica quam.

                Eodem modo typi.

                Nam liber tempor cum soluta.
            </div>
            <div class="col-md-4 col-sm-6">
                <h4 class="about_creative__title">Our Services</h4>
                <p>
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod.
                    Claritas est etiam processus dynamicus, qui sequitur mutationem.
                </p>
                <ul>
                    <li>Dolor sit amet, consectetuer adipiscing elit.</li>
                    <li>Claritas etiam processus dynamicus.</li>
                    <li>Mirum notare quam littera gothica quam.</li>
                    <li>Eodem modo typi.</li>
                    <li>Nam liber tempor cum soluta.</li>
                </ul>
            </div>
            <div class="col-md-4 col-sm-6">
                <h4 class="about_creative__title">Our Capabilities</h4>
                <p>
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod.
                    Claritas est etiam processus dynamicus, qui sequitur mutationem.
                </p>
                Dolor sit amet, consectetuer adipiscing elit.

                Claritas etiam processus dynamicus.

                Mirum notare quam littera gothica quam.

                Eodem modo typi.

                Nam liber tempor cum soluta.
            </div>
        </div>

    </div>


</footer>












<div class="about_creative__digital">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 text-center col-sm-push-3">
                <div class="about_creative__option">
                    <h4 class="about_creative__zag">Meet Our Team</h4>
                    <p class="about_creative__text">
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
                        sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
