<!--=================CAROUSELE START====================-->

<div id="myCarousel" class="carousel slide" data-ride="carousel">


    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
        <div class="item active" id="item_1">
            <img src="img/20180326.png" width="1920px" height="920px">
            <div class="carousel-caption hidden-xs">
                <h3>1 Clean Design <br>
                    <span>Everything You Need is Here</span>
                </h3>
                <p class="caurosel_tetx">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
                    <br> nonummy nibh euismod tincidunt.</p>
                <button class="button_ button_buy_now">Buy This Now</button>
                <button class="button_ button_screen">Screenshots</button>
            </div>
        </div>

        <div class="item" id="item_2">
            <img src="img/20180326.png" width="1920px" height="920px">
            <div class="carousel-caption hidden-xs">
                <h3>2 Branding <br>
                    <span>Everything You Need is Here</span>
                </h3>
                <p class="caurosel_tetx">Duis autem vel eum iriure dolor in hendrerit in vulputate velit <br>
                    esse molestie consequat, vel illum dolore feugiat.</p>
                <button class="button_ button_buy_now">Buy This Now</button>
                <button class="button_ button_screen">Screenshots</button>
            </div>
        </div>
        <div class="item" id="item_3">
            <img src="img/20180326.png" width="1920px" height="920px">
            <div class="carousel-caption hidden-xs">
                <h3>3 Responsive <br>
                    <span>Everything You Need is Here</span>
                </h3>
                <p class="caurosel_tetx">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
                    <br> nonummy nibh euismod tincidunt.</p>
                <button class="button_ button_buy_now">Buy This Now</button>
                <button class="button_ button_screen">Screenshots</button>
            </div>
        </div>
        <div class="item" id="item_4">
            <img src="img/20180326.png" width="1920px" height="920px">
            <div class="carousel-caption hidden-xs">
                <h3>4 Development <br>
                    <span>Everything You Need is Here</span>
                </h3>
                <p class="caurosel_tetx">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
                    <br> nonummy nibh euismod tincidunt.</p>
                <button class="button_ button_buy_now">Buy This Now</button>
                <button class="button_ button_screen">Screenshots</button>
            </div>
        </div>
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<div class="speech_bubble speech_bubble_botom">
    <div class="container">
        <div class="speech_text">
            <div class="speech_align">
                <p>
                    <span class="speech_zag">The Best Solution for Your Business Projects</span><br>
                    Qualitative PSD Template With Unlimited Possibilities
                </p>
            </div>
        </div>
    </div>
</div>
<!--   SLIDER START================== -->
<div class="slider_col">
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <div class="content_slide" id="slide_1">
                    <div class="clean_slide">
                        <i class="fa fa-leaf" aria-hidden="true"></i>
                    </div>
                    <div class="text_slide">
                        <h4 class="zag_slide">Clean Design</h4>
                        <p class="par_slide">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            Ad corporis deleniti excepturi natus nesciunt perspiciatis.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="content_slide" id="slide_2">
                    <div class="clean_slide">
                        <i class="fa fa-empire" aria-hidden="true"></i>
                    </div>
                    <div class="text_slide">
                        <h4 class="zag_slide">Branding</h4>
                        <p class="par_slide">Duis autem vel eum iriure dolor in hendrerit
                            in vulputate velit esse molestie consequat, vel illum dolore feugiat.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="content_slide" id="slide_3">
                    <div class="clean_slide">
                        <i class="fa fa-meetup" aria-hidden="true"></i>
                    </div>
                    <div class="text_slide">
                        <h4 class="zag_slide">Responsive</h4>
                        <p class="par_slide">Lorem ipsum dolor sit amet, consectetuer
                            adipiscing elit, sed diam nonummy nibh euismod tincidunyt dolore.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="content_slide" id="slide_4">
                    <div class="clean_slide">
                        <i class="fa fa-cogs" aria-hidden="true"></i>
                    </div>
                    <div class="text_slide">
                        <h4 class="zag_slide">Development</h4>
                        <p class="par_slide">Duis autem vel eum iriure dolor in hendrerit
                            in vulputate velit esse molestie consequat, vel illum dolore feugiat.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>