<div class="contact_info">

    <div class="container">
        <div class="row">
            <div class="col-sm-6 text-center col-sm-push-3">
                <div class="our_gettouch">
                    <h4 class="zag_gettouch">Get In Touch</h4>
                    <p class="text_gettouch">Contact Information</p>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <div class="content_info">
                    <div class="clean_info">
                        <i class="fa fa-paper-plane" aria-hidden="true"></i>
                    </div>
                    <div class="text_info">
                        <h4 class="zag_info">Address</h4>
                        <p class="par_info">795 South Park Avenue, Door <br>
                            6 Wonderland, CA 94107, Australia</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="content_info">
                    <div class="clean_info">
                        <i class="fa fa-users" aria-hidden="true"></i>
                    </div>
                    <div class="text_info">
                        <h4 class="zag_info">Phones</h4>
                        <p class="par_info">+440 875369208 - Office <br>
                            +440 353363114 - Fax</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="content_info">
                    <div class="clean_info">
                        <i class="fa fa-paper-plane" aria-hidden="true"></i>
                    </div>
                    <div class="text_info">
                        <h4 class="zag_info">Email</h4>
                        <p class="par_info">support@sitename.com <br>
                            info@sitename.com</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="content_info">
                    <div class="clean_info">
                        <i class="fa fa-users" aria-hidden="true"></i>
                    </div>
                    <div class="text_info">
                        <h4 class="zag_info">Follow Us</h4>
                        <p class="par_info">
                            <a href="https://www.facebook.com/">
                                <i class="fa fa-facebook-square" aria-hidden="true"></i>
                            </a>
                            <a href="https://twitter.com/">
                                <i class="fa fa-twitter-square" aria-hidden="true"></i>
                            </a>
                            <a href="https://www.tumblr.com/">
                                <i class="fa fa-tumblr-square" aria-hidden="true"></i>
                            </a>
                            <a href="https://www.linkedin.com/">
                                <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                            </a>
                            <a href="https://vimeo.com/">
                                <i class="fa fa-vimeo-square" aria-hidden="true"></i>
                            </a>
                            <a href="https://ru.pinterest.com/">
                                <i class="fa fa-pinterest-square" aria-hidden="true"></i>
                            </a>
                            <a href="https://www.snapchat.com/">
                                <i class="fa fa-snapchat-square" aria-hidden="true"></i>
                            </a>
                            <br>
                            <a href="https://www.flickr.com/">
                                <i class="fa fa-flickr" aria-hidden="true"></i>
                            </a>
                            <a href="https://vimeo.com/">
                                <i class="fa fa-vimeo-square" aria-hidden="true"></i>
                            </a>
                            <a href="https://www.linkedin.com/">
                                <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                            </a>
                            <a href="#">
                                <i class="fa fa-rss-square" aria-hidden="true"></i>
                            </a>
                            <a href="#">
                                <i class="fa fa-tumblr-square" aria-hidden="true"></i>
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="container">
    <div class="row">
        <div class="col-sm-6 text-center col-sm-push-3">
            <div class="get_touchform">
                <h4 class="zag_touchform">Get In Touch</h4>
                <p class="text_touchform">Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
                    sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <form action="form" id="my_form">
            <div class="col-sm-4">
                <div class="input-group">
                    <input type="text" class="form-control" name="full_name" placeholder="Full name">
                    <span class="input-group-addon">
                        <i class="fa fa-user-circle" aria-hidden="true"></i>
                        </span>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="input-group">
                    <input type="email" class="form-control" name="email_form" placeholder="Email Address">
                    <span class="input-group-addon">
                            <i class="fa fa-envelope" aria-hidden="true"></i>
                         </span>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="input-group">
                    <input type="text" class="form-control" name="your_website" placeholder="Your website">
                    <span class="input-group-addon">
                            <i class="fa fa-globe" aria-hidden="true"></i>
                        </span>
                </div>
            </div>
                <textarea class="form-control col-sm-12 form_textarea" rows="5" placeholder="Type Here Message"></textarea>
            <div class="col-sm-12 text-center">
                <button type="submit" class="btn btn-success button_send_message">SEND MESSAGE</button>
            </div>
        </form>
    </div>
</div>
<div class="container-fluid">
    <iframe src="https://www.google.com/maps/d/u/0/embed?mid=1ygb8NtDhNnC0WwOR7dPKVrBChxGIG5dn" width="100%" height="480"></iframe>
</div>

<div class="best_solution best_solution__red">
    <div class="container">
        <div class="row">
            <div class="col-sm-10">



            <div class="h3_solution">
                The Best Solution for Your Business Projects
            </div>
            <div class="text_solution">
                Qualitative PSD Template With Unlimited Possibilities
            </div>
            </div>
            <div class="col-sm-2">
                <button class="btn_solution">
                    Live Preview
                </button>
            </div>
        </div>
    </div>
</div>
