<!--   FOOTER START================== -->

<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <div class="logo_footer">
                    <a href="#">
                        <img src="img/exe_footer.png" alt="logo">
                    </a>
                </div>
                <span class="span_clean">Clean and Universal <br>PSD Template</span>
                <p class="p_clean">
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod
                    tincidunt ut laoreet dolore magna aliquam erat volutpat claritas est etiam processus dynamicus.
                </p>
                <a href="#" class="footer_read_more">Read More »</a>

                <div class="footer_email">
                    Email Newsletters:
                    <div class="input-group input-group-sm">
                        <input type="text" class="form-control" placeholder="Email Address">
                        <span class="input-group-addon" id="sizing-addon3">
                            <i class="fa fa-envelope" aria-hidden="true"></i>
                        </span>
                    </div>
                </div>

                <span class="privacy_policy">Privacy Policy</span>
            </div>
            <div class="col-md-3 col-sm-6">
                <h4 class="title_footer">Latest News</h4>
                <ul class="list_news">
                    <li class="li_news">
                        <span class="">
                            <a href="#">
                                <img src="img/img_zagl.png" alt="logo" class="news_img">
                            </a>
                        </span>
                        <span class="text_news">Corem ipsum dolor sit amet, consectetuer adipiscing...
                            <br><span class="news_date">04 February 2015</span>
                        </span>
                    </li>
                    <li class="li_news">
                        <span class="">
                            <a href="#">
                                <img src="img/img_zagl.png" alt="logo" class="news_img">
                            </a>
                        </span>
                        <span class="text_news">Mirum est notare quam littera gothica nunc...
                            <br><span class="news_date">28 January 2015</span>
                        </span>
                    </li>
                    <li class="li_news">
                        <span class="">
                            <a href="#">
                                <img src="img/img_zagl.png" alt="logo" class="news_img">
                            </a>
                        </span>
                        <span class="text_news">Duis autem vel eum iriure dolor in hendrerit esse...
                            <br><span class="news_date">03 January 2015</span>
                        </span>
                    </li>
                </ul>
            </div>
            <div class="col-md-3 col-sm-6">
                <h4 class="title_footer">Twitter Widget</h4>
                <ul class="list_news">
                    <li class="li_news">
                        <span class="">
                            <a href="#">
                                <i class="fa fa-twitter-square" aria-hidden="true"></i>
                            </a>
                        </span>
                        <span class="text_twit">Raritas est etiam processus dynamicus, qui sequitur mutationem
                            <a href="http://t.co/hVtABj5tZo">http://t.co/hVtABj5tZo</a>
                            <br><span class="news_date">23 seconds ago</span>
                        </span>
                    </li>
                    <li class="li_news">
                        <span class="">
                            <a href="#">
                                <i class="fa fa-twitter-square" aria-hidden="true"></i>
                            </a>
                        </span>
                        <span class="text_twit">Duis autem vel eum <a href="#">#iriure</a> dolor in hendrerit in vulputate velit
                            <br><span class="news_date">8 months ago</span>
                        </span>
                    </li>
                    <li class="li_news">
                        <span class="">
                            <a href="#">
                                <i class="fa fa-twitter-square" aria-hidden="true"></i>
                            </a>
                        </span>
                        <span class="text_twit"><a href="#">@frankdoe</a> am liber tempor cum soluta nobis eleifend
                            <br><span class="news_date">2 years ago</span>
                        </span>
                    </li>
                </ul>
            </div>
            <div class="col-md-3 col-sm-6">
                <h4 class="title_footer">Get In Touch</h4>
                <ul class="list_touch">
                    <li class="li_touch">
                        <span class="span_touch">Address: </span>
                        <span class="text_touch">
                            795 South Park Avenue, Door 6 Wonderland, CA 94107, Australia
                        </span>
                    </li>
                    <li class="li_touch">
                        <span class="span_touch">Phone: </span>
                        <span class="text_touch">
                            +440 875369208 <span class="office_fax">- Office</span>
                            +440 353363114 <span class="office_fax">- Fax</span>
                        </span>
                    </li>
                    <li class="li_touch">
                        <span class="span_touch">Email: </span>
                        <span class="text_touch email_support">
                            support@sitename.com
                            info@sitename.com
                        </span>
                    </li>
                    <li class="li_touch">
                        <span class="span_touch">Follow Us: </span>
                        <span class="text_touch">
                            <a href="https://www.facebook.com/">
                                <i class="fa fa-facebook-square" aria-hidden="true"></i>
                            </a>
                            <a href="https://twitter.com/">
                                <i class="fa fa-twitter-square" aria-hidden="true"></i>
                            </a>
                            <a href="https://www.tumblr.com/">
                                <i class="fa fa-tumblr-square" aria-hidden="true"></i>
                            </a>
                            <a href="https://www.linkedin.com/">
                                <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                            </a>
                            <a href="https://vimeo.com/">
                                <i class="fa fa-vimeo-square" aria-hidden="true"></i>
                            </a>
                            <a href="https://ru.pinterest.com/">
                                <i class="fa fa-pinterest-square" aria-hidden="true"></i>
                            </a>
                            <a href="https://www.snapchat.com/">
                                <i class="fa fa-snapchat-square" aria-hidden="true"></i>
                            </a>
                                <br>
                            <a href="https://www.flickr.com/">
                                <i class="fa fa-flickr" aria-hidden="true"></i>
                            </a>
                                <a href="https://vimeo.com/">
                                    <i class="fa fa-vimeo-square" aria-hidden="true"></i>
                                </a>
                                <a href="https://www.linkedin.com/">
                                    <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                                </a>
                            <a href="#">
                                <i class="fa fa-rss-square" aria-hidden="true"></i>
                            </a>
                            <a href="#">
                                <i class="fa fa-tumblr-square" aria-hidden="true"></i>
                            </a>
                        </span>
                    </li>
                </ul>


            </div>
        </div>

    </div>


</footer>

<!--close-->

<div id="footer_navigation">
    <div class="container">
        <div class="row">
            <div class="designby_footer col-lg-5 col-md-5">
                <div class="row">
                    &copy; 2015 èxe, Design by
                    <a href="https://themeforest.net/user/themefire/portfolio">ThemeFire  </a>/  Only for
                    <a href="https://market.envato.com/">Envato Market</a>
                </div>
            </div>
            <ul class="menu_footer text-right col-lg-7 col-md-7">
                <li>
                    <a href="index.html">Home</a>
                </li>
                <li class="">
                    <a href="contact.html">About us</a>
                </li>
                <li>
                    <a href="#">Pages</a>
                </li>
                <li>
                    <a href="#">Features</a>
                </li>
                <li class="">
                    <a href="#">Portfolio</a>
                </li>
                <li>
                    <a href="#">Blog</a>
                </li>
                <li>
                    <a href="#">Shop</a>
                </li>
                <li class="">
                    <a href="contact.html">Contact us</a>
                </li>
            </ul>
        </div>
    </div>
</div>