
<nav class="top-bar">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-5 menu_left">
                <ul class="tools">
                    <li class="dropdown">
                        <a class="dropdown-toggle language_left" data-toggle="dropdown" href="#">
                            <i class="fa fa-globe" aria-hidden="true"></i>
                            English <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="#"><i class="fa fa-globe" aria-hidden="true"></i>
                                Ukraine</a></li>
                            <li>
                                <a href="#"><i class="fa fa-globe" aria-hidden="true"></i>
                                    繁體中文</a>
                            </li>
                            <li><a href="#"><i class="fa fa-globe" aria-hidden="true"></i>
                                French</a></li>
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a class="" href="#">
                            <i class="fa fa-mobile" aria-hidden="true"></i>
                            +440 875369208</a>
                    </li>

                    <li class="dropdown hidden-xs hidden-sm">
                        <a class="" href="#">
                            <i class="fa fa-paper-plane" aria-hidden="true"></i>
                            info@sitename.com
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-1 text-center">

            </div>
            <div class="col-md-6 col-lg-6 menu_right">
                <ul class="tools">
                    <li class="dropdown">
                        <a href="#" class="">
                            <i class="fa fa-sign-in" aria-hidden="true"></i>
                            Sign In /
                        </a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="register">Register</a>
                    </li>
                    <li class="dropdown hidden-sm hidden-xs">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-heart" aria-hidden="true"></i>
                            Wishlist: 0 items<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li class="dropdown_item">
                                <img src="img/review_1.png" class="dropdown_img" alt="img">
                                <div class="dropdown_text">
                                    Claritas Etiam Processus
                                    <div class="dropdown_price">$ 259.95</div>
                                    <div class="dropdown_instock">In stock</div>
                                </div>
                                <i class="fa fa-times-circle" aria-hidden="true"></i>
                            </li>
                            <li class="dropdown_item">
                                <img src="img/review_2.png" class="dropdown_img" alt="img">
                                <div class="dropdown_text">
                                    Claritas Etiam Processus
                                    <div class="dropdown_price">$ 259.95</div>
                                    <div class="dropdown_instock">In stock</div>
                                </div>
                                <i class="fa fa-times-circle" aria-hidden="true"></i>
                            </li>
                            <li class="dropdown_item">
                                <img src="img/review_3.png" class="dropdown_img" alt="img">
                                <div class="dropdown_text">
                                    Claritas Etiam Processus
                                    <div class="dropdown_price">$ 259.95</div>
                                    <div class="dropdown_instock">In stock</div>
                                </div>
                                <i class="fa fa-times-circle" aria-hidden="true"></i>
                            </li>
                            <li class="drop_button">
                                <button class="drop_btn btn_wishlist">My Wishlist</button>
                                <button class="drop_btn btn_clear">Clear All</button>
                            </li>
                        </ul>
                    </li>
                    <span class="social_right">
                        <a href="#">
                        <i class="fa fa-facebook-square" aria-hidden="true"></i>
                    </a>
                    <a href="#">
                        <i class="fa fa-twitter-square" aria-hidden="true"></i>
                    </a>
                    <a href="#">
                        <i class="fa fa-tumblr-square" aria-hidden="true"></i>
                    </a>
                    <a href="#">
                        <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                    </a>
                    <a href="#">
                        <i class="fa fa-google-plus-square" aria-hidden="true"></i>
                    </a>
                    <a href="#">
                        <i class="fa fa-rss-square" aria-hidden="true"></i>
                    </a>
                    </span>

                </ul>
            </div>
        </div>
    </div>
</nav>   <!--TOP-NAVBAR-END-->


<!--====================== NAVBAR MENU START===================-->


<nav class="navbar navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"><img src="img/exe_logo.png"></a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-left">
                <li class="dropdown home_menu">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="index.html">Home</a>
                </li>
                <li class=""><a href="about.html">About us</a></li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Pages <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Page 1-1</a></li>
                        <li><a href="#">Page 1-2</a></li>
                        <li><a href="#">Page 1-3</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Features <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Page 1-1</a></li>
                        <li><a href="#">Page 1-2</a></li>
                        <li><a href="#">Page 1-3</a></li>
                    </ul>
                </li>
                <li class=""><a href="#">Portfolio</a></li>
                <li><a href="#">Blog</a></li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Shop <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Page 1-1</a></li>
                        <li><a href="#">Page 1-2</a></li>
                        <li><a href="#">Page 1-3</a></li>
                    </ul>
                </li>
                <li class=""><a href="contact.html">Contact us</a></li>
            </ul>
            <div class="navbar-right hidden-sm hidden-xs">
                Cart:
                <span class="cart-heart  hidden-sm hidden-xs">
                    <a href="#"><i class="fa fa-shopping-cart f_shopping" aria-hidden="true"></i></a>
                    <a href="#"><i class="fa fa-search f_search" aria-hidden="true"></i></a>
                </span>
            </div>

        </div>
    </div>
</nav>

<button onclick="topFunction()" id="myBtn" title="Go to top">
    <i class="fa fa-chevron-up" aria-hidden="true"></i>
</button>