<div class="accardion">

    <div class="container">
        <div class="row">
            <div class="col-sm-6 text-center col-sm-push-3">
                <div class="chose_us">
                    <h4 class="blog_choose">Why Choose Us</h4>
                    <p class="choose_text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
                        sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                </div>
            </div>
        </div>
    </div>


    <div class="container demo">

<div class="row">
    <div class="col-lg-6">
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title">
                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        <i class="more-less glyphicon glyphicon-chevron-right"></i>
                        <span class="header_accordeon">Our Solution</span> Consectetuer adipiscing sed diam nonummy
                    </a>
                </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body">
                    Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum.
                    Mirum est notare quam littera gothica, quam nunc putamus parum claram, anteposuerit litterarum
                    formas humanitatis per seacula quarta decima et quinta decima. Eodem modo typi, qui nunc nobis
                    videntur parum clari, fiant sollemnes in  nam liber tempor cum soluta nobis eleifend option.
                    <br><br>
                    Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim
                    placerat facer possim assum.
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingTwo">
                <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        <i class="more-less glyphicon glyphicon-chevron-right"></i>
                        <span class="header_accordeon">Our Solution</span> Consectetuer adipiscing sed diam nonummy
                    </a>
                </h4>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                <div class="panel-body">
                    Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum.
                    Mirum est notare quam littera gothica, quam nunc putamus parum claram, anteposuerit litterarum
                    formas humanitatis per seacula quarta decima et quinta decima. Eodem modo typi, qui nunc nobis
                    videntur parum clari, fiant sollemnes in  nam liber tempor cum soluta nobis eleifend option.
                    <br><br>
                    Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim
                    placerat facer possim assum.
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingThree">
                <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        <i class="more-less glyphicon glyphicon-chevron-right"></i>
                        <span class="header_accordeon">Our Mission</span> Eodem modo typi qui nunc nobis
                    </a>
                </h4>
            </div>
            <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                <div class="panel-body">
                    Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum.
                    Mirum est notare quam littera gothica, quam nunc putamus parum claram, anteposuerit litterarum
                    formas humanitatis per seacula quarta decima et quinta decima. Eodem modo typi, qui nunc nobis
                    videntur parum clari, fiant sollemnes in  nam liber tempor cum soluta nobis eleifend option.
                    <br><br>
                    Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim
                    placerat facer possim assum.
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingFour">
                <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                        <i class="more-less glyphicon glyphicon-chevron-right"></i>
                        <span class="header_accordeon">Our Specification</span>Adipiscing sed diam nonummy
                    </a>
                </h4>
            </div>
            <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                <div class="panel-body">
                    Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum.
                    Mirum est notare quam littera gothica, quam nunc putamus parum claram, anteposuerit litterarum
                    formas humanitatis per seacula quarta decima et quinta decima. Eodem modo typi, qui nunc nobis
                    videntur parum clari, fiant sollemnes in  nam liber tempor cum soluta nobis eleifend option.
                    <br><br>
                    Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim
                    placerat facer possim assum.
                </div>
            </div>
        </div>

    </div><!-- panel-group -->
</div>
    <div class="col-lg-6">
        <div class="sliderVertical">
            <div class="sliderVertical_slide">
                <div class="slide_choose sliderVertical_img">
                    <div class="choose_content">
                        <div class="choose_news">
                            <span>
                                <a href="#">
                                    <img src="img/latest_blog.png" alt="logo" class="choose_img">
                                </a>
                            </span>
                            <span class="choose_news">
                                <span class="choose_name">Jonathan Smith</span>
                                <span class="url_left">www.themeforest.net</span><br>
                                <span class="choose_text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh
                                euismod tincidunt ut laoreet dolore etiam processus dynamicus, qui sequitur.</span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="sliderVertical_slide">
                <div class="slide_choose sliderVertical_img">
                    <div class="choose_content">
                        <div class="choose_news">
                            <span>
                                <a href="#">
                                    <img src="img/review.png" alt="logo" class="choose_img">
                                </a>
                            </span>
                            <span class="choose_news">
                                <span class="choose_name">Britney Doe</span>
                                <span class="url_left">www.themeforest.net</span><br>
                                <span class="choose_text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh
                                euismod tincidunt ut laoreet dolore etiam processus dynamicus, qui sequitur.</span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="sliderVertical_slide">
                <div class="slide_choose sliderVertical_img">
                    <div class="choose_content">
                        <div class="choose_news">
                            <span>
                                <a href="#">
                                    <img src="img/latest_blog.png" alt="logo" class="choose_img">
                                </a>
                            </span>
                            <span class="choose_news">
                                <span class="choose_name">Jonathan Smith</span>
                                <span class="url_left">www.themeforest.net</span><br>
                                <span class="choose_text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh
                                euismod tincidunt ut laoreet dolore etiam processus dynamicus, qui sequitur.</span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="sliderVertical_slide">
                <div class="slide_choose sliderVertical_img">
                    <div class="choose_content">
                        <div class="choose_news">
                            <span>
                                <a href="#">
                                    <img src="img/review.png" alt="logo" class="choose_img">
                                </a>
                            </span>
                            <span class="choose_news">
                                <span class="choose_name">Britney Doe</span>
                                <span class="url_left">www.themeforest.net</span><br>
                                <span class="choose_text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh
                                euismod tincidunt ut laoreet dolore etiam processus dynamicus, qui sequitur.</span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="sliderVertical_slide">
                <div class="slide_choose sliderVertical_img">
                    <div class="choose_content">
                        <div class="choose_news">
                            <span>
                                <a href="#">
                                    <img src="img/latest_blog.png" alt="logo" class="choose_img">
                                </a>
                            </span>
                            <span class="choose_news">
                                <span class="choose_name">Jonathan Smith</span>
                                <span class="url_left">www.themeforest.net</span><br>
                                <span class="choose_text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh
                                euismod tincidunt ut laoreet dolore etiam processus dynamicus, qui sequitur.</span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="sliderVertical_slide">
                <div class="slide_choose sliderVertical_img">
                    <div class="choose_content">
                        <div class="choose_news">
                            <span>
                                <a href="#">
                                    <img src="img/review.png" alt="logo" class="choose_img">
                                </a>
                            </span>
                            <span class="choose_news">
                                <span class="choose_name">Britney Doe</span>
                                <span class="url_left">www.themeforest.net</span><br>
                                <span class="choose_text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh
                                euismod tincidunt ut laoreet dolore etiam processus dynamicus, qui sequitur.</span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="sliderVertical_slide">
                <div class="slide_choose sliderVertical_img">
                    <div class="choose_content">
                        <div class="choose_news">
                            <span>
                                <a href="#">
                                    <img src="img/latest_blog.png" alt="logo" class="choose_img">
                                </a>
                            </span>
                            <span class="choose_news">
                                <span class="choose_name">Jonathan Smith</span>
                                <span class="url_left">www.themeforest.net</span><br>
                                <span class="choose_text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh
                                euismod tincidunt ut laoreet dolore etiam processus dynamicus, qui sequitur.</span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="sliderVertical_slide">
                <div class="slide_choose sliderVertical_img">
                    <div class="choose_content">
                        <div class="choose_news">
                            <span>
                                <a href="#">
                                    <img src="img/review.png" alt="logo" class="choose_img">
                                </a>
                            </span>
                            <span class="choose_news">
                                <span class="choose_name">Britney Doe</span>
                                <span class="url_left">www.themeforest.net</span><br>
                                <span class="choose_text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh
                                euismod tincidunt ut laoreet dolore etiam processus dynamicus, qui sequitur.</span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



</div><!-- container -->
</div>


<!-- ********************************************************* -->

<div class="latest_blog">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 text-center col-sm-push-3">
                <div class="option_blog">
                    <h4 class="blog_zag">Latest Blog Posts</h4>
                    <p class="blog_text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
                        nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="slider">

            <div class="slider_slide">
                <div class="slider_img">
                    <div class="list_posts">
                        <div class="li_posts">
                        <span class="zag_posts">
                            <a href="#">
                                <img src="img/img_zagl.png" alt="logo" class="post_img">
                            </a>
                        </span>
                            <span class="post_news">
                            <br><span class="date_post">04 February 2015   /   26 Comments</span><br>
                            <span class="h3_post">Claritas est processus dynamicus mutationem</span><br>
                            <span class="text_post_more">
                                Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy
                                nibh euismod tincidunt ut laoreet dolore. <br>
                                <a href="#" class="post_read_more">Read More »</a>
                            </span>

                        </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slider_slide">
                <div class="slider_img">
                    <div class="list_posts">
                        <div class="li_posts">
                        <span class="zag_posts">
                            <a href="#">
                                <img src="img/latest_blog.png" alt="logo" class="post_img">
                            </a>
                        </span>
                            <span class="post_news">
                            <br><span class="date_post">28 January 2015   /   No Comments</span><br>
                            <span class="h3_post">Eodem modo typi, qui nunc nobis videntur parum</span><br>
                            <span class="text_post_more">
                               Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie
                                consequat, vel illum dolore eu feugiat nulla facilisis. <br>
                                <a href="#" class="post_read_more">Read More »</a>
                            </span>

                        </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slider_slide">
            <div class="slider_img">
                <div class="list_posts">
                    <div class="li_posts">
                        <span class="zag_posts">
                            <a href="#">
                                <img src="img/img_zagl.png" alt="logo" class="post_img">
                            </a>
                        </span>
                        <span class="post_news">
                            <br><span class="date_post">04 February 2015   /   26 Comments</span><br>
                            <span class="h3_post">Claritas est processus dynamicus mutationem</span><br>
                            <span class="text_post_more">
                                Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy
                                nibh euismod tincidunt ut laoreet dolore. <br>
                                <a href="#" class="post_read_more">Read More »</a>
                            </span>

                        </span>
                    </div>
                </div>
            </div>
        </div>
            <div class="slider_slide">
                <div class="slider_img">
                    <div class="list_posts">
                        <div class="li_posts">
                        <span class="zag_posts">
                            <a href="#">
                                <img src="img/latest_blog.png" alt="logo" class="post_img">
                            </a>
                        </span>
                            <span class="post_news">
                            <br><span class="date_post">28 January 2015   /   No Comments</span><br>
                            <span class="h3_post">Eodem modo typi, qui nunc nobis videntur parum</span><br>
                            <span class="text_post_more">
                               Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie
                                consequat, vel illum dolore eu feugiat nulla facilisis. <br>
                                <a href="#" class="post_read_more">Read More »</a>
                            </span>

                        </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slider_slide">
                <div class="slider_img">
                    <div class="list_posts">
                        <div class="li_posts">
                        <span class="zag_posts">
                            <a href="#">
                                <img src="img/img_zagl.png" alt="logo" class="post_img">
                            </a>
                        </span>
                            <span class="post_news">
                            <br><span class="date_post">04 February 2015   /   26 Comments</span><br>
                            <span class="h3_post">Claritas est processus dynamicus mutationem</span><br>
                            <span class="text_post_more">
                                Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy
                                nibh euismod tincidunt ut laoreet dolore. <br>
                                <a href="#" class="post_read_more">Read More »</a>
                            </span>

                        </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="many_theme">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 text-center col-sm-push-3">
                <div class="option_theme">
                    <h4 class="theme_zag">Many Theme Options</h4>
                    <p class="theme_text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed
                        diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="slide_theme">
                    <img src="img/theme_options.png" alt="theme_options" class="theme_img">
                </div>
            </div>
            <div class="col-lg-4">
                <ul class="list_theme">
                    <li class="li_theme">
                        <a href="#">
                        <span class="span_theme">
                                <i class="fa fa-leaf" aria-hidden="true"></i>
                        </span>
                        </a>
                        <span class="text_theme"><span class="zag_theme">Clean Design</span>
                            <br>Lorem ipsum dolor sit amet, consectetuer adipiscing diam.
                        </span>
                    </li>
                    <li class="li_theme">
                        <a href="#">
                        <span class="span_theme">
                                <i class="fa fa-comments" aria-hidden="true"></i>
                        </span>
                        </a>
                        <span class="text_theme"><span class="zag_theme">Clean Design</span>
                            <br>Duis autem vel eum iriure dolor in hendrerit in vulputate esse.
                        </span>
                    </li>
                    <li class="li_theme">
                        <a href="#">
                        <span class="span_theme">
                                <i class="fa fa-leaf" aria-hidden="true"></i>
                        </span>
                        </a>
                        <span class="text_theme"><span class="zag_theme">Multipurpose</span>
                            <br>Lorem ipsum dolor sit amet, consectetuer adipiscing diam.
                        </span>
                    </li>
                    <li class="li_theme">
                        <a href="#">
                        <span class="span_theme">
                                <i class="fa fa-comments" aria-hidden="true"></i>
                        </span>
                        </a>
                        <span class="text_theme"><span class="zag_theme">Online Support</span>
                            <br>Duis autem vel eum iriure dolor in hendrerit in vulputate esse.
                        </span>
                    </li>
                </ul>
            </div>

        </div>
    </div>
</div>


<div class="main_slide">
    <div class="container">

        <div class="sl">

            <div class="sl_slide">
                <img src="img/slide_footer_1.png" alt="img Slide 1" class="sl_img">
            </div>
            <div class="sl_slide">
                <img src="img/slide_footer_2.png" alt="img Slide 2" class="sl_img">
            </div>
            <div class="sl_slide">
                <img src="img/slide_footer_3.png" alt="img Slide 3" class="sl_img">
            </div>
            <div class="sl_slide">
                <img src="img/slide_footer_4.png" alt="img Slide 4" class="sl_img">
            </div>
            <div class="sl_slide">
                <img src="img/slide_footer_5.png" alt="img Slide 5" class="sl_img">
            </div>
            <div class="sl_slide">
                <img src="img/slide_footer_2.png" alt="img Slide 6" class="sl_img">
            </div>
            <div class="sl_slide">
                <img src="img/slide_footer_4.png" alt="img Slide 7" class="sl_img">
            </div>
        </div>
    </div>

</div>