<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <title>
        EXE
        <!--@@var = title-->
    </title>
            <link rel="shortcut icon" href="img/slide_footer_3.png" type="image/x-icon">
    <link rel="stylesheet" href="/css/vendor.min.css">
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,500,700,800|Roboto" rel="stylesheet">
    <link rel="stylesheet" href="/css/app.min.css">
</head>
<body>

    <!--@@include = header.tmpl.html-->
    <!--@@include = contact_all.tmpl.html-->


    <!--@@include =  footer.tmpl.html-->

    <script src="/js/vendor.min.js"></script>
</body>
</html>