<div class="filter_photo" id="photo_filter">

    <div class="container">
        <div class="row">
            <div class="col-sm-6 text-center col-sm-push-3">
                <div class="zag_block">
                    <h4 class="zag_text">See Our <span class="nam_liber__color">Creative</span> Projects</h4>
                    <p class="descr_text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
                        sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-sm-8 text-center col-sm-push-2">
                <div class="inside">
                    <a href="#photo_filter" class="current filter-link" data-toggle="portfilter" data-target="all">All</a>
                    <a href="#photo_filter" class="filter-link" data-toggle="portfilter" data-target="art">Websites</a>
                    <a href="#photo_filter" class="filter-link" data-toggle="portfilter" data-target="brand">Logo</a>
                    <a href="#photo_filter" class="filter-link" data-toggle="portfilter" data-target="graphic">Graphic Design</a>
                    <a href="#photo_filter" class="filter-link" data-toggle="portfilter" data-target="dev">Development</a>
                    <a href="#photo_filter" class="filter-link" data-toggle="portfilter" data-target="media">Video</a>
                    <a href="#photo_filter" class="filter-link" data-toggle="portfilter" data-target="photo">Photography</a>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <ul class="col-md-12">
            <li class="img_portfolio" data-tag='brand'>
                <span class="sescr">Claritas Est Processus <br>
                    <span class="sescr_small">Graphic Designer, Photoshop</span>
                </span>
                <img src="img/review_1.png" class="img-responsive" alt="img">
            </li>
            <li class="img_portfolio" data-tag='media'>
                <span class="sescr">Claritas Est Processus <br>
                    <span class="sescr_small">Graphic Designer, Photoshop</span>
                </span>
                <img src="img/review_2.png" class="img-responsive" alt="img">
            </li>
            <li class="img_portfolio" data-tag='photo'>
                <span class="sescr">Claritas Est Processus <br>
                    <span class="sescr_small">Graphic Designer, Photoshop</span>
                </span>
                <img src="img/review_3.png" class="img-responsive" alt="img">
            </li>
            <li class="img_portfolio" data-tag='art'>
                <span class="sescr">Claritas Est Processus <br>
                    <span class="sescr_small">Graphic Designer, Photoshop</span>
                </span>
                <img src="img/review_4.png" class="img-responsive" alt="img">
            </li>
            <li class="img_portfolio" data-tag='brand'>
                <span class="sescr">Claritas Est Processus <br>
                    <span class="sescr_small">Graphic Designer, Photoshop</span>
                </span>
                <img src="img/review_5.png" class="img-responsive" alt="img">
            </li>
            <li class="img_portfolio" data-tag='dev'>
                <span class="sescr">Claritas Est Processus <br>
                    <span class="sescr_small">Graphic Designer, Photoshop</span>
                </span>
                <img src="img/review_6.png" class="img-responsive" alt="img">
            </li>
            <li class="img_portfolio" data-tag='media'>
                <span class="sescr">Claritas Est Processus <br>
                    <span class="sescr_small">Graphic Designer, Photoshop</span>
                </span>
                <img src="img/review_7.png" class="img-responsive" alt="img">
            </li>
            <li class="img_portfolio" data-tag='graphic'>
                <span class="sescr">Claritas Est Processus <br>
                    <span class="sescr_small">Graphic Designer, Photoshop</span>
                </span>
                <img src="img/review_8.png" class="img-responsive" alt="img">
            </li>
            <li class="img_portfolio" data-tag='art'>
                <span class="sescr">Claritas Est Processus <br>
                    <span class="sescr_small">Graphic Designer, Photoshop</span>
                </span>
                <img src="img/review_9.png" class="img-responsive" alt="img">
            </li>
            <li class="img_portfolio" data-tag='dev'>
                <span class="sescr">Claritas Est Processus <br>
                    <span class="sescr_small">Graphic Designer, Photoshop</span>
                </span>
                <img src="img/review_10.png" class="img-responsive" alt="img">
            </li>
        </ul>
        <button class="button_works">Load More Works</button>

    </div>
</div>

<div class="bg_grey">

    <div class="container">
        <div class="row">
            <div class="col-sm-6 text-center col-sm-push-3">
                <div class="zag_block">
                    <h4 class="zag_text">What <span class="nam_liber__color">Buyers </span>Say About Us</h4>
                    <p class="descr_text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
                        sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                </div>
            </div>
        </div>
    </div>


    <div class="container demo">

        <div class="row">
            <div class="col-md-12">
                <div class="slider">
                    <div class="slider_slide">
                        <div class="slide_porfolio">
                            <div class="choose_content">
                                <div class="choose_news">
                            <span>
                                <a href="#">
                                    <img src="img/latest_blog.png" alt="logo" class="choose_img">
                                </a>
                            </span>
                                    <span class="choose_news">
                                <span class="choose_name">Jonathan Smith</span>
                                <span class="url_left">www.themeforest.net</span><br>
                                <span class="choose_text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh
                                euismod tincidunt ut laoreet dolore etiam processus dynamicus, qui sequitur.</span>
                            </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="slider_slide">
                        <div class="slide_porfolio">
                            <div class="choose_content">
                                <div class="choose_news">
                            <span>
                                <a href="#">
                                    <img src="img/review.png" alt="logo" class="choose_img">
                                </a>
                            </span>
                                    <span class="choose_news">
                                <span class="choose_name">Britney Doe</span>
                                <span class="url_left">www.themeforest.net</span><br>
                                <span class="choose_text">
                                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh
                                euismod tincidunt ut laoreet dolore etiam processus dynamicus, qui sequitur.
                                </span>
                            </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="slider_slide">
                        <div class="slide_porfolio">
                            <div class="choose_content">
                                <div class="choose_news">
                            <span>
                                <a href="#">
                                    <img src="img/latest_blog.png" alt="logo" class="choose_img">
                                </a>
                            </span>
                                    <span class="choose_news">
                                <span class="choose_name">Jonathan Smith</span>
                                <span class="url_left">www.themeforest.net</span><br>
                                <span class="choose_text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh
                                euismod tincidunt ut laoreet dolore etiam processus dynamicus, qui sequitur.</span>
                            </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="slider_slide">
                        <div class="slide_porfolio">
                            <div class="choose_content">
                                <div class="choose_news">
                            <span>
                                <a href="#">
                                    <img src="img/review.png" alt="logo" class="choose_img">
                                </a>
                            </span>
                                    <span class="choose_news">
                                <span class="choose_name">Britney Doe</span>
                                <span class="url_left">www.themeforest.net</span><br>
                                <span class="choose_text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh
                                euismod tincidunt ut laoreet dolore etiam processus dynamicus, qui sequitur.</span>
                            </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="slider_slide">
                        <div class="slide_porfolio">
                            <div class="choose_content">
                                <div class="choose_news">
                            <span>
                                <a href="#">
                                    <img src="img/latest_blog.png" alt="logo" class="choose_img">
                                </a>
                            </span>
                                    <span class="choose_news">
                                <span class="choose_name">Jonathan Smith</span>
                                <span class="url_left">www.themeforest.net</span><br>
                                <span class="choose_text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh
                                euismod tincidunt ut laoreet dolore etiam processus dynamicus, qui sequitur.</span>
                            </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="main_slide">
    <div class="container">

        <div class="sl">

            <div class="sl_slide">
                <img src="img/slide_footer_1.png" alt="img Slide 1" class="sl_img">
            </div>
            <div class="sl_slide">
                <img src="img/slide_footer_2.png" alt="img Slide 2" class="sl_img">
            </div>
            <div class="sl_slide">
                <img src="img/slide_footer_3.png" alt="img Slide 3" class="sl_img">
            </div>
            <div class="sl_slide">
                <img src="img/slide_footer_4.png" alt="img Slide 4" class="sl_img">
            </div>
            <div class="sl_slide">
                <img src="img/slide_footer_5.png" alt="img Slide 5" class="sl_img">
            </div>
            <div class="sl_slide">
                <img src="img/slide_footer_2.png" alt="img Slide 6" class="sl_img">
            </div>
            <div class="sl_slide">
                <img src="img/slide_footer_4.png" alt="img Slide 7" class="sl_img">
            </div>
        </div>
    </div>
</div>