<div class="filter_photo">

    <div class="container">
        <div class="row">
            <div class="col-sm-6 text-center col-sm-push-3">
                <div class="our_portfolio">
                    <h4 class="zag_portfolio">Our Portfolio</h4>
                    <p class="text_portfolio">Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
                        sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-sm-8 text-center col-sm-push-2">
                <div class="inside">
                    <a href="#photo_filter" class="current filter-link" data-toggle="portfilter" data-target="all">All</a>
                    <a href="#photo_filter" class="filter-link" data-toggle="portfilter" data-target="art">Websites</a>
                    <a href="#photo_filter" class="filter-link" data-toggle="portfilter" data-target="brand">Logo</a>
                    <a href="#photo_filter" class="filter-link" data-toggle="portfilter" data-target="graphic">Graphic Design</a>
                    <a href="#photo_filter" class="filter-link" data-toggle="portfilter" data-target="dev">Development</a>
                    <a href="#photo_filter" class="filter-link" data-toggle="portfilter" data-target="media">Video</a>
                    <a href="#photo_filter" class="filter-link" data-toggle="portfilter" data-target="photo">Photography</a>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid" id="photo_filter">
        <ul class="col-md-12">
            <li class="img_portfolio" data-tag='brand'>
                <span class="sescr">Claritas Est Processus <br>
                    <span class="sescr_small">Graphic Designer, Photoshop</span>
                </span>
                    <img src="img/review_1.png" class="img-responsive" alt="img">
            </li>
            <li class="img_portfolio" data-tag='media'>
                <span class="sescr">Claritas Est Processus <br>
                    <span class="sescr_small">Graphic Designer, Photoshop</span>
                </span>
                    <img src="img/review_2.png" class="img-responsive" alt="img">
            </li>
            <li class="img_portfolio" data-tag='photo'>
                <span class="sescr">Claritas Est Processus <br>
                    <sapn class="sescr_small">Graphic Designer, Photoshop</sapn>
                </span>
                    <img src="img/review_3.png" class="img-responsive" alt="img">
            </li>
            <li class="img_portfolio" data-tag='art'>
                <span class="sescr">Claritas Est Processus <br>
                    <span class="sescr_small">Graphic Designer, Photoshop</span>
                </span>
                    <img src="img/review_4.png" class="img-responsive" alt="img">
            </li>
            <li class="img_portfolio" data-tag='brand'>
                <span class="sescr">Claritas Est Processus <br>
                    <span class="sescr_small">Graphic Designer, Photoshop</span>
                </span>
                    <img src="img/review_5.png" class="img-responsive" alt="img">
            </li>
            <li class="img_portfolio" data-tag='dev'>
                <span class="sescr">Claritas Est Processus <br>
                    <span class="sescr_small">Graphic Designer, Photoshop</span>
                </span>
                    <img src="img/review_6.png" class="img-responsive" alt="img">
            </li>
            <li class="img_portfolio" data-tag='media'>
                <span class="sescr">Claritas Est Processus <br>
                    <span class="sescr_small">Graphic Designer, Photoshop</span>
                </span>
                    <img src="img/review_7.png" class="img-responsive" alt="img">
            </li>
            <li class="img_portfolio" data-tag='graphic'>
                <span class="sescr">Claritas Est Processus <br>
                    <span class="sescr_small">Graphic Designer, Photoshop</span>
                </span>
                    <img src="img/review_8.png" class="img-responsive" alt="img">
            </li>
            <li class="img_portfolio" data-tag='art'>
                <span class="sescr">Claritas Est Processus <br>
                    <span class="sescr_small">Graphic Designer, Photoshop</span>
                </span>
                    <img src="img/review_9.png" class="img-responsive" alt="img">
            </li>
            <li class="img_portfolio" data-tag='dev'>
                <span class="sescr">Claritas Est Processus <br>
                    <span class="sescr_small">Graphic Designer, Photoshop</span>
                </span>
                    <img src="img/review_10.png" class="img-responsive" alt="img">
            </li>
        </ul>
        <button class="button_works">Load More Works</button>

    </div>
</div>